{{ 'section-image-text-column.css' | asset_url | stylesheet_tag }}
{% capture image_html %}
   <div class="image-text-column__image">
      <img src="{{ section.settings.image | image_url: width: 1000 }}" alt="{{ section.settings.image.alt }}" width="1000" height="1000">
   </div>
{% endcapture %}
{% capture text_html %}
   <div class="image-text-column__content">
      {% for block in section.blocks %}
         {% case block.type %}
            {% when 'heading_item' %}
               <h2 class="h2 heading" {{ block.shopify_attributes }}>{{ block.settings.title }}</h2>
            {% when 'text_item' %}
               <div class="image-text-column__text" {{ block.shopify_attributes }}>{{ block.settings.title }}</div>
            {% when 'image_item' %}
               {% style %}
                  #block-{{ block.id }} .image-text-column__block-image {
                     width: {{ block.settings.image_width }}%;
                     height: {{ block.settings.image_height }}%;
                  }
               {% endstyle %}
               <div id="block-{{ block.id }}" class="image-text-column__block-image" {{ block.shopify_attributes }}>
                  <img src="{{ block.settings.image | image_url: width: 1000 }}" alt="{{ block.settings.image.alt }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}">
               </div>
            {%- when 'button' -%}
               <a class="image-text-column__button button button--solid button--with-icon" href="{{ block.settings.button_link | escape }}" title="{{ block.settings.button_label | escape }}" {{ block.shopify_attributes }}>
                 <span>{{ block.settings.button_label | escape }}</span> 
                 <span class="icon" aria-hidden="true" role="img">{%- render 'theme-symbols', icon: 'arrow-right' -%}</span>
               </a>
         {% endcase %}
      {% endfor %}
   </div>
{% endcapture %}

<div class="image-text-column" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="image-text-column__inner">
    {% if section.settings.image_position == 'left' %}
      {{ image_html }}
      {{ text_html }}
    {% else %}
      {{ text_html }}
      {{ image_html }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Image Text Column",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },

        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading_item",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "text_item",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Text"
        }
      ]
    },
    {
      "type": "image_item",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image Width",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "image_height",
          "label": "Image Height",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "image_full_width",
          "label": "Full Width On Mobile",
          "default": true
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Column",
      "category": "Custom"
    }
  ]
}
{% endschema %}
