{{ 'section-latest-features.css' | asset_url | stylesheet_tag }}

{% assign tabs_list = section.blocks | map: 'settings' | map: 'tab_group_title' | uniq %}
<div class="latest-features-section">
  <div class="header-row">
    <div class="title-column" style="max-width: {{ section.settings.main_title_width }}px;">
      <h1 class="main-title h1 heading" style="text-align: {{ section.settings.main_title_align }}">
        {{ section.settings.main_title }}
      </h1>
      <h2 class="sub-title h1 heading" style="text-align: {{ section.settings.sub_title_align }}">
        {{ section.settings.sub_title }}
      </h2>
    </div>
    <div class="arrow-label">
      <span class="arrow-text-vertical font-zen" aria-hidden="true">{{ section.settings.arrow_text_1 }}</span>
      <span class="arrow-text-horizontal-1 font-zen" aria-hidden="true">{{ section.settings.arrow_text_2 }}</span>
      <span class="arrow-text-horizontal-2 font-zen" aria-hidden="true">{{ section.settings.arrow_text_2 }}</span>
    </div>
  </div>

  <div class="tab-groups-container">
    <div class="tab-images-column">
      {% for block in section.blocks %}
        <div
          class="tab-image-item {% if forloop.first %}active{% endif %}"
          data-tab-id="{{ block.id }}"
          data-tab-image-index="{{ forloop.index0 }}"
          data-tab-group-title="{{ block.settings.tab_group_title }}"
        >
          <img
            src="{{ block.settings.item_image | img_url: 'master' }}"
            alt="{{ block.settings.item_title }}"
            width="100%"
            height="100%"
          >
        </div>
      {% endfor %}
    </div>
    <div class="tab-list-navs">
      {% if section.settings.show_tab_list %}
        <div class="tabs-panel">
          {% for tab in tabs_list %}
            <button class="tab-list-nav-item {% if forloop.first %}active{% endif %}" data-tab-group-title="{{ tab }}">
              <span class="tab-list-nav-item-title">{{ tab }}</span>
            </button>
          {% endfor %}
        </div>
      {% endif %}
      <ul class="tab-list-item-contents">
        {% for tab_item in tabs_list %}
          {% assign tab_item_index = 1 %}
          {% assign current_tab_items_length = 0 %}
          {% for block in section.blocks %}
            {% if block.settings.tab_group_title == tab_item %}
              {% assign current_tab_items_length = current_tab_items_length | plus: 1 %}
            {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
            {% assign first_tab_group_title = tabs_list.first %}
            {% if block.settings.tab_group_title == tab_item %}
              <div
                class="tab-list-item-container {% if block.settings.tab_group_title == first_tab_group_title %}active{% endif %} {% if forloop.first %}expanded{% endif %}"
                data-tab-group-title="{{ tab_item }}"
                data-tab-id="{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                <div class="tab-list-item-header">
                  <p class="tab-list-item-index">/{{ block.settings.item_index }}</p>
                  <div class="tab-list-item-content-container">
                    <p class="tab-list-item-content">
                      <span class="tab-list-item-title font-zen">{{ block.settings.item_title }}</span>
                      <span class="tab-list-item-subtitle">{{ block.settings.item_subtitle }}</span>
                      <span class="tab-list-item-date-mobile-only">{{ block.settings.item_date }}</span>
                      <button
                        class="tab-list-item-button"
                        onclick="addToCalendar('{{ block.settings.item_title }}', '{{ block.settings.item_date }}')"
                      >
                        <span> Add to Calendar </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                          <path d="M7.91675 5L12.9167 10L7.91675 15" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </p>
                  </div>
                  <span class="tab-list-item-date">{{ block.settings.item_date }}</span>
                </div>
                <div class="tab-list-item-mobile-image">
                  <img
                    src="{{ block.settings.item_image | img_url: 'master' }}"
                    alt="{{ block.settings.item_title }}"
                    width="100%"
                    height="100%"
                  >
                </div>
              </div>
            {% endif %}
            {% if forloop.index == current_tab_items_length %}
              {% assign tab_item_index = tab_item_index | minus: forloop.index %}
            {% else %}
              {% assign tab_item_index = tab_item_index | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script src="{{ 'component-latest-features.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Latest Features & Events",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "text",
      "id": "main_title_width",
      "label": "Main Title Width",
      "default": "732"
    },
    {
      "type": "select",
      "id": "main_title_align",
      "label": "Main Title Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "select",
      "id": "sub_title_align",
      "label": "Sub Title Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "arrow_text_1",
      "label": "Arrow Text Vertical"
    },
    {
      "type": "text",
      "id": "arrow_text_2",
      "label": "Arrow Text Horizontal"
    },
    {
      "type": "checkbox",
      "id": "show_tab_list",
      "label": "Show Tab List",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "item_block",
      "name": "Item Block",
      "settings": [
        {
          "type": "text",
          "id": "tab_group_title",
          "label": "Tab Group Title",
          "info": "This will group the items in a tab by this title"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Item Image"
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Item Title"
        },
        {
          "type": "text",
          "id": "item_date",
          "label": "Item Date"
        },
        {
          "type": "textarea",
          "id": "item_subtitle",
          "label": "Item Subtitle"
        },
        {
          "type": "text",
          "id": "item_index",
          "label": "Item Index",
          "default": "01"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Latest Features & Events",
      "category": "Custom"
    }
  ]
}
{% endschema %}
