<div class="list-column-section">
  <div class="list-column-content">
    {% for block in section.blocks %}
      <div class="list-item" {{ block.shopify_attributes }}>
        <div class="hover-image-container" data-url="{{ block.settings.button_link }}">
          <h3 class="h3 hover-trigger">
            <span>{{ block.settings.item_text }}</span>
            {% if block.settings.item_text_2 != blank %}
              <span class="hover-image-text-2">{{ block.settings.item_text_2 }}</span>
            {% endif %}
          </h3>
          {% if block.settings.hover_image != blank %}
            <div class="hover-image">
              <picture>
                {{- block.settings.hover_image | image_url: width: '300x' | image_tag: class: 'hover-image-img' -}}
              </picture>
              <div class="hover-image-icon">
                {% render 'icons-pack', icon: 'arrow-right-top' %}
                <p class="hover-image-text">{{ block.settings.button_text }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{{ 'section-list-column.css' | asset_url | stylesheet_tag }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.hover-image-container').forEach((container) => {
      const hoverTrigger = container;
      const hoverImage = container.querySelector('.hover-image');

      container.addEventListener('click', () => {
        if (container.dataset.url.length > 0) {
          window.location.href = container.dataset.url;
        }
      });
      hoverTrigger.addEventListener('mouseenter', () => {
        hoverImage.style.display = 'flex';
      });
      hoverTrigger.addEventListener('mouseleave', () => {
        hoverImage.style.display = 'none';
      });
    });
  });
</script>

{% schema %}
{
  "name": "List Column",
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate section with border"
    }
  ],
  "blocks": [
    {
      "type": "list_item",
      "name": "List Item",
      "settings": [
        {
          "type": "text",
          "id": "item_text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "item_text_2",
          "label": "Text 2"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Hover Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List Column"
    }
  ]
}
{% endschema %}
