{{ 'section-meet-staff.css' | asset_url | stylesheet_tag }}
<div class="meet-staff">
  <div class="meet-staff-header">
    <h1 class="h1 heading text-center yantramanav-black">{{ section.settings.title }}</h1>
  </div>
  <div class="meet-staff-content">
    <div class="staff-slider-container">
      <div
        class="staff-slider"
      >
        {% for block in section.blocks %}
            <div class="staff-slider__item" data-block-id="{{ block.id }}">
              <div class="staff-slider__item-inner">
                <div class="staff-slider__item-image">
                  <img src="{{ block.settings.image | image_url: width: 550 }}" alt="{{ block.settings.image.alt }}">
                </div>
                <div class="staff-slider__item-content">
                  <div class="staff-info">
                    <h2 class="h3 heading">{{ block.settings.name }}</h2>
                    <p class="yantramanav heading">{{ block.settings.position }}</p>
                  </div>
                  <div class="staff-description yantramanav-regular">
                    {{ block.settings.description }}
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-masonry">
      <div class="product-masonry-inner">
        {% for block in section.blocks %}
         <div class="product-masonry-item" data-product-masonry-block-id="{{ block.id }}" data-active="{% if forloop.index0 == 0 %}true{% else %}false{% endif %}">
          <div class="product-masonry-item-inner">
            {% for product in block.settings.product_list %}
              {% render 'product-item', product: product, index: forloop.index0, masonry_context= true %}
            {% endfor %}
          </div>
         </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
    const productMasonry = document.querySelector('.product-masonry-item-inner');
    const staffSlider = document.querySelector('.staff-slider');

    function handleProductMasonryResize() {
        const productMasonryHeight = productMasonry.offsetHeight;
        staffSlider.style.height = `${productMasonryHeight}px`;
    }
    function initStaffSlider() {
      const staffSlider = document.querySelector('.staff-slider');
      const flickity = new Flickity(staffSlider, {
        wrapAround: true,
        autoPlay: false,
        pauseAutoPlayOnHover: true,
        pauseAutoPlayOnFocus: true,
        prevNextButtons: true,
        pageDots: false,
      });
      flickity.on('change', (index) => {
        const blockId = staffSlider.querySelectorAll('.staff-slider__item')[index].dataset.blockId;
        const productMasonryBlocks = document.querySelectorAll('.product-masonry-item');
        const productMasonryBlock = document.querySelector(`[data-product-masonry-block-id="${blockId}"]`);
        productMasonryBlocks.forEach(block =>  block.dataset.active = 'false');
        productMasonryBlock.dataset.active = 'true';
      });
    }
    window.addEventListener('resize', handleProductMasonryResize);  
    window.addEventListener('DOMContentLoaded', function() {
      handleProductMasonryResize();
      initStaffSlider();
    });
</script>
{% schema %}
{
  "name": "Meet Our Staff",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Meet Our Staff"
    }
  ],
  "blocks": [
    {
      "type": "staff",
      "name": "Staff",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Position"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Product List"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Meet Our Staff",
      "category": "Custom"
    }
  ]
}
{% endschema %}
