<div id="section-{{ section.id }}" class="site-box-container ">
  <div class="rotating-slider-heading">
    <h1 class="h1 text-center heading">{{ section.settings.heading }}</h1>
    <p class=" text-center">{{ section.settings.subheading }}</p>
  </div>
  <div class="rotating-slider-container">
    <div class="rotating-slider-backdrop">
      <p class="rotating-slider-backdrop-text font-zen">{{ section.settings.backdrop_text }}</p>
    </div>
    <div class="rotating-slider">
      <ul class="slides">
        {% for block in section.blocks %}
          <li>
            <div class="inner" {{ block.shopify_attributes }}>
              {% capture slide_text %}
                <img
                src="{{ block.settings.image | image_url: width: 480 }}"
                alt="{{ block.settings.alt }}"
                height="100%"
                width="100%"
              >
              <p class="slide-text">
                <span class="slide-text-inner">{{ block.settings.slide_text }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                  <path d="M25.5601 16.8463H5.8125C5.53071 16.8463 5.26046 16.9583 5.0612 17.1575C4.86194 17.3568 4.75 17.627 4.75 17.9088C4.75 18.1906 4.86194 18.4609 5.0612 18.6601C5.26046 18.8594 5.53071 18.9713 5.8125 18.9713H25.5601L17.8102 26.7191C17.6107 26.9186 17.4987 27.1892 17.4987 27.4713C17.4987 27.7535 17.6107 28.0241 17.8102 28.2236C18.0098 28.4231 18.2804 28.5352 18.5625 28.5352C18.8446 28.5352 19.1152 28.4231 19.3147 28.2236L28.8772 18.6611C28.9762 18.5624 29.0547 18.4451 29.1083 18.316C29.1618 18.187 29.1894 18.0486 29.1894 17.9088C29.1894 17.7691 29.1618 17.6307 29.1083 17.5016C29.0547 17.3725 28.9762 17.2553 28.8772 17.1566L19.3147 7.59406C19.1152 7.39455 18.8446 7.28247 18.5625 7.28247C18.2804 7.28247 18.0098 7.39455 17.8102 7.59406C17.6107 7.79357 17.4987 8.06416 17.4987 8.34631C17.4987 8.62846 17.6107 8.89905 17.8102 9.09856L25.5601 16.8463Z" fill="white"/>
                </svg>
              </p>
              {% endcapture %}
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" style="z-index: 10; height: 100%; color: #fff;">
                  {{ slide_text }}
                </a>
              {% else %}
                {{ slide_text }}
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{{ 'rotating-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'rotating-slider.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Rotating Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Collections"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Browse our Collections and find the best fit"
    },
    {
      "type": "text",
      "id": "backdrop_text",
      "label": "Backdrop Text",
      "default": "Culture"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text",
          "default": "Slide image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Rotating Slider"
    }
  ]
}
{% endschema %}
